<!--users/templates/users/about.html-->

{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
	<p>
		This project was created by Spence Young in May of 2021
	</p>
	<p>
		The goal of this project is to make an open source web interface for Cryptocaucus' users so they can track their contributions and rewards for various cryptocurrencies.
	</p>
	<p>
		Read more about Cryptocaucus at <a href="https://cryptocaucus.org/">cryptocaucus.org</a>
	</p>
</div>
<p>
	Pools supported by this implementation of the interface: 
</p>
<div>
	{% for x in pools %}
	<tr>
		<td>
		{{x.cryptoName}}
		</td>
	</tr>
	{% endfor %}
</div>
{% endblock %}